.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
McGrawHill_-_Machine_Learning_-Tom_Mitchell (1).pdf
hwk_em.pdf
hwk_nb.pdf
lec1.pdf
lec2.pdf
lec3.pdf
lec4.pdf
lec5.pdf
lec6.pdf
lec7.pdf
lec8.pdf
lec9.pdf
midterm_ANN.html
midterm_ANN.pdf
